.newPostCont {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-flow: column nowrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.newPostTitleCont {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100vw;
    border-bottom: 2px solid rgba(176, 135, 214, 0.342);
    font-size: 14px;
    padding: 20px 0 20px 0;
}

.clearBtnCont {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
}

#clear-btn {
    background-color: transparent;
    border: 2px solid transparent;
    transition: 0.2s;
    border-radius: 20px;
    width: 100%;
    background-color: rgba(224, 83, 83, 1);
    opacity: 0.5;
}

#clear-btn:hover {
    background-color: rgba(224, 83, 83, 0.8);
    border: 2px solid rgba(218, 73, 73, 0.8);
    opacity: 1;
}

.clearBtnCont:hover + .newPostMainCont{
    box-shadow: 0px 0px 15px 5px rgba(224, 83, 83, 0.8);
    border-radius: 20px;
}

#clear-btn:active {
    background-color: rgba(224, 83, 83, 1);
    border: 2px solid rgba(218, 73, 73, 1);
    opacity: 1;
}

.newPostMainCont {
    box-shadow: 0 20px 70px -20px #5b6188;
    padding: 0 18px 0 18px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    height: 55%;
}

.uploadField {
    height: 90%;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid transparent;
    background-color: rgba(179, 176, 176, 0.5);
    transition: 0.3s all;
}

.uploadField:hover {
    border-radius: 35px;
    border: 2px solid rgba(176, 135, 214, 0.342);
    background-color: rgba(179, 176, 176, 0.7);
}

.uploadFieldSelected {
    max-height: 90%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: 0.3s all;
    cursor: pointer;
}

.uploadFieldSelected:hover {
    border-radius: 35px;
    border: 2px solid rgba(176, 135, 214, 0.342);
}

.fileInput {
    opacity: 0;
    cursor: pointer;
}

.fileLabel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    cursor: pointer;
}

.fileExplanation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 8px;
    text-align: center;
}

.newPostDescriptionCont {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    /* height: 90%; */
}

.descriptionForm {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
    width: 320px;
    margin-left: 5%;
}

.newPostInput {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    border: none;
    border-bottom: 2px solid rgba(176, 135, 214, 0.7);
    margin: 5% 5% 5% 0%;
    padding: 3%;
    transition: 0.3s;
    height: 120px;
    word-break: break-all;
    outline: none;
    resize: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.newPostInput:hover {
    border-radius: 10px;
    box-shadow: 10px 10px 15px -2px rgba(176, 135, 214, 0.45);
}

#createBtn {
    margin-top: 5%;
    margin-right: 5%;
    width: 90%;
    height: 40px;
    border-radius: 20px;
}

.newPostInput::-webkit-scrollbar {
    width: 12px;
}

.newPostInput::-webkit-scrollbar-track {
    background: transparent;
}

.newPostInput::-webkit-scrollbar-thumb {
    background-color: rgba(176, 135, 214, 0.45);
    border-radius: 20px;
    border: 3px solid rgba(176, 135, 214, 0.45);

}

.progessBarCont {
    width: 90%;
    border: 2px solid rgba(176, 135, 214, 0.45);
    border-radius: 20px;
    margin-right: 10px;
}

.progessBar {
    height: 1rem;
    width: 0%;
    background-color: rgba(105, 207, 165, 0.45);
    border-radius: 20px;
    padding:2px;
}

@media (width < 800px) {
    .newPostMainCont {
        box-shadow: none;
    }
}