.header {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    border-bottom: 2px solid rgba(176, 135, 214, 0.342);
    flex-flow: row nowrap;
}

.logo {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    background-position: 100%;
    border-radius: 20px;
}

.logo:hover {
    background: linear-gradient(to left, transparent 50%, rgba(176, 135, 214, 0.3) 50%);
    background-size: 200% 100%;
    background-position: 0 100%;
    transition: all 0.5s ease;
}

#logo-img {
    border: 2px solid rgba(176, 135, 214, 0.6);
    border-radius: 20px 0px 0px 20px;
    border-right: none;
}

#nameCont {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border: 2px solid rgba(176, 135, 214, 0.6);
    padding: 16px 10px 17px 5px;
    border-radius: 0px 20px 20px 0px;
    border-left: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    cursor: default;
}

@media (max-width: 700px) {
    #projectName {
        display: none;
    }
    #logo-img {
        border: none;
    }
    #nameCont {
        border: none;
    }
    .logo:hover {
        background: none;
    }
}

.SearchForm {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

#search-input {
    font-size: 90%;
    padding: 3px 10px;
    padding-right: 0;
    height: 100%;
    width: 80%;
    border: none;
    border-radius: 12px 0px 0px 12px;
    background-color: rgba(176, 135, 214, 0.342);
    border: 2px solid rgba(176, 135, 214, 0.342);
    border-right: none;
    transition: 0.2s linear;
}

#search-input:focus {
    background-color: transparent;
    width: 100%;
    outline: none;
    border-color: rgba(176, 135, 214, 0.5);
}

#search-input:focus ~ #search-btn {
    background-color: transparent;
    outline: none;
    border-color: rgba(176, 135, 214, 0.5);
}

#search-btn {
    margin-left: 0;
    border-radius: 0px 12px 12px 0px;
    background-color: rgba(176, 135, 214, 0.342);
    border-left: none;
    transform: none;
}

#search-btn::before {
    content: "\f002";
    font: normal normal normal 15px/1 FontAwesome;
}

.profileBarCont {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.profileBar {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}

#newPostBtn::before {
    content: "\f067";
    font: normal normal normal 15px/1 FontAwesome;
}

#newPostBtn:active, #myProfileBtn:active {
    transform: none;
}

#newPostBtn[data-title]:hover::after, #myProfileBtn[data-title]:hover::after {
    content:attr(data-title);
    position: absolute;
    top: 5%;
    border-radius: 15px;
    padding: 7px;
    background-color: black;
    color: white;
    font-weight: 400;
}


#logoutBtn {
    background-color: rgba(224, 83, 83, 0.8);
    border: 2px solid rgba(218, 73, 73, 0.8);
}

#logoutBtn:active {
    background-color: rgba(224, 83, 83, 1);
    border: 2px solid rgba(218, 73, 73, 1);
}