@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nanum+Myeongjo&display=swap');

.windowCont {
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-flow: column nowrap;
}

.contentCont {
    width: 100%;
}

.btnGroup {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.MainForm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

#login-window-btn-LoginWindowActive{
    width: 50%;
    margin-right: 0;
    background-color: rgba(176, 135, 214, 0.45);
    font-size: 15px;
    background: linear-gradient(to left, rgba(176, 135, 214, 0.45) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100%;
    transition: all 0.5s ease;
    border: none;
    border-radius: 12px 0 0 12px;
}

#login-window-btn-RegWindowActive{
    width: 50%;
    margin-right: 0;
    background-color: transparent;
    font-size: 15px;
    transition: 0.3s;
    border: none;
    border-radius: 12px 0 0 12px;
}

#reg-window-btn-RegWindowActive{
    width: 50%;
    margin-left: 0;
    background-color: rgba(176, 135, 214, 0.45);
    font-size: 15px;
    background: linear-gradient(to left, transparent 50%, rgba(176, 135, 214, 0.45) 50%);
    background-size: 200% 100%;
    background-position: 0 100%;
    transition: all 0.5s ease;
    border: none;
    border-radius: 0 12px 12px 0;
}

#reg-window-btn-LoginWindowActive{
    width: 50%;
    margin-left: 0;
    background-color: transparent;
    font-size: 15px;
    transition: 0.3s;
    background-position: 100%;
    border: none;
    border-radius: 0 12px 12px 0;
}

#login-window-btn-null {
    display: none;
}

#reg-window-btn-null {
    display: none;
}

.loginCont.LoginWindowActive {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-flow: column nowrap;
    transition: 0.3s;
    width: 100%;
}

.loginCont {
    display: none;    
}

.regCont.RegWindowActive {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-flow: column nowrap;
    transition: 0.3s;
    width: 100%;
}

.regCont {
    display: none;
}

.welcomeLabel {
    width: 100%;
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 26px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.inputGroup {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

.pswdGroup, .pswdRepeatGroup, .nickGroup {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    border-bottom: 2px solid rgba(176, 135, 214, 0.7);
    margin: 3%;
    padding: 3%;
    transition: 0.3s;
}

.pswdGroup:hover, .pswdRepeatGroup:hover, .nickGroup:hover {
    border-radius: 12px;
    box-shadow: 10px 10px 15px -2px rgba(176, 135, 214, 0.45);
}

.nickInput, .pswdInput {
    width: 100%;
    border: none;
    outline: none;
    transition: 0.3s;
    /* text-align: center; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
.nickInput:active, .pswdInput:active {
    outline: none;
    letter-spacing: 1px;
}

.nickInfo::before {
    content: '\f0eb';
    font: normal normal normal 15px/1 FontAwesome;
    margin-right: 4px;
}

.nickInfo:hover::before {
    background-color: rgba(216, 216, 92, 0.733);
    box-shadow: 0px 0px 10px 5px rgba(216, 216, 92, 0.733);

}

.nickInfo:active::before {
    background-color: rgb(206, 206, 8);
    box-shadow: 0px 0px 10px 5px rgb(206, 206, 8);
}

.nickInfo:active::after {
    padding: 1%;
    position: absolute;
    right: 30%;
    width: 200px;
    text-align: left;
    content: attr(title);
    border: 2px solid rgba(176, 135, 214, 0.45);
    border-radius: 12px;
    background-color: aliceblue;

}

.fa.fa-eye, .fa.fa-eye-slash {
    cursor: pointer;
}

.submitGroup {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-btn, #reg-btn {
    width: 65%;
    margin-top: 2%;
}

.closeBtnCont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#close-btn {
    background-color: transparent;
    border: 1px solid transparent;
    transition: 0.2s;
    border-radius: 15px;
    width: 100%;
}

#close-btn:hover {
    background-color: rgba(224, 83, 83, 0.8);
    border: 1px solid rgba(218, 73, 73, 0.8);
}

#close-btn:active {
    background-color: rgba(224, 83, 83, 1);
    border: 1px solid rgba(218, 73, 73, 1);
}

#close-btn::before {
    content: "\f00d";
    font: normal normal normal 15px/1 FontAwesome;
}

