.alert {
    border: 2px solid rgba(160, 124, 194, 0.45);
    background-color: rgb(201, 169, 231);
    border-radius: 20px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    position: sticky;
    top: 90%;
}